$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$body-color: #1e1a32;
$text-white: #fff;
$sidebar-color: #2096f3;
$sidebar-active-color: #1e1a32;
$dashboard-bg-color: #1e1a32;
$infobox-best: #ffc109;
$infobox-middle: #2096f3;
$infobox-worse: #e91e63;
$table-head: #2096f3;
$table-border: #d7dbd8;
$table-pagination: #2096f3;
$table-bg-pagination: #1e1a32