html,
body {
    height: 100%;
    width: 100%;
    color: $body-color;
}

.demo {
    background-color: $sidebar-color;
    color: $text-white;
}

.main-section {
    height: 100vh !important;
}

h3 {
    color: $text-white;
    font-weight: 300;
}