html,
body {
    height: 100%;
    width: 100%;
    color: #1e1a32;
}

.demo {
    background-color: #2096f3;
    color: #fff;
}

.main-section {
    height: 100vh !important;
}

h3 {
    color: #fff;
    font-weight: 300;
}