.screen-left {
    flex: 1;
    background-color: $sidebar-color;
    color: #fff;

    @include bp-large {
        flex: 0 0 350px;
    }
}

.screen-right {
    height: 100% !important;
    background-color: $dashboard-bg-color;
    color: $text-white;
    min-height: 100vh !important;

    @include bp-large {
        flex: 2;
    }
 }