.info-box {
   margin-top: 1rem !important;
}

.info-size {
   font-size: calc(1.375rem + 1.5vw) !important;

   @include bp-medium {
      font-size: calc(1.5rem + 1.5vw) !important;
   }

   @include bp-large {
      font-size: calc(1rem + 1.5vw) !important;
   }
}