.collapse {
    border-collapse: collapse;
}

table {
    margin: 1em;
    border: solid 1px;
    width: 99%;
    
    @include bp-xlarge {
        display: inline-table !important;
    }
}

table thead {
    color: $text-white;
    background-color: $table-head
}

table th,
table td {
    font-size: 20px;
    font-weight: 300;
    border: solid 1px $table-border;
    padding: 10px
}

.page-link {
    color: $table-pagination !important
}

.page-link:focus {
    box-shadow: none;
}

.page-link.active,
.active>.page-link {
    z-index: 3;
    color: $table-pagination !important;
    background-color: $table-bg-pagination !important;
    border: none !important;
}

.previous,
.next {
    --bs-pagination-bg: transparent !important;
}

.pagination {
    display: none !important;

    @include bp-xlarge {
        display: flex !important;
    }
}